p {
	font-family: serif;
	color: teal;
}

button {

	/*position:relative;
	top:2px;
	left:20px;*/
	/*position: float.right;*/

}

canvas {
	border: 1px dashed red;
	position: relative;
	top: 220px;

}

