 p {
	font-family: arial;
	color: white;
}

body {
	background-color:black;
}

#monsters {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

canvas {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	font-family: arial;
	color: white;
	text-decoration: underline;
	font-weight: bold;
}
